data:
  image: tianon/true
  volumes:
    - ./data/ldap/database:/var/lib/ldap
    - ./data/ldap/config:/etc/ldap/slapd.d

ldap:
  image: osixia/openldap:1.0.3
  ports:
    - "389:389"
  environment:
    - LDAP_ORGANISATION="La chouette coop"
    - LDAP_DOMAIN="lachouettecoop.test"
    - LDAP_ADMIN_PASSWORD="password"
  volumes_from:
    - data